*{
  align-items: center;
  align-content: center;
}

h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
  text-align: center;
}

#join-game{
  font-size: 30px; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: blue;
  padding: 16px;
}

.sg{
  text-align: center;
  
}

body{
  display:block;
}

#game{
  padding: 5px;
  font-size: 30px;
  margin-bottom: 3px;
}

.sg h1{
  color: white; 
}